* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Courier New", monospace;
}

body {
	height: 100vh;
	background: radial-gradient(circle at top, #020617, #000000);
	color: #00ff88;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* TITLE */
h1 {
	font-size: 64px;
	margin-bottom: 40px;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-shadow: 0 0 15px #00ff88;
	animation: flicker 2s infinite;
}

/* LINKS */
a {
	display: block;
	width: 260px;
	margin: 10px 0;
	padding: 15px;
	border: 2px solid #00ff88;
	color: #00ff88;
	text-decoration: none;
	font-size: 22px;
	text-transform: uppercase;
	position: relative;
	transition: 0.3s;
}

/* HOVER EFFECT */
a:hover {
	background: #00ff88;
	color: #000;
	box-shadow: 0 0 25px #00ff88;
	transform: scale(1.05);
}

/* TERMINAL CURSOR EFFECT */
a::after {
	content: "_";
	position: absolute;
	right: 15px;
	opacity: 0;
	animation: blink 1s infinite;
}

a:hover::after {
	opacity: 1;
}

/* ANIMATIONS */
@keyframes flicker {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.85;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blink {
	0%,
	50% {
		opacity: 1;
	}
	51%,
	100% {
		opacity: 0;
	}
}
